# Sesi 2

In [2]:
x = 0
y = 5

In [6]:
if x<y:
  print('yes')
if x>y:
  print('no')

yes

In [9]:
if 'abc' in 'abcde':
  print('state_1')
  print('state_2')
print('state_di_luar')

state_1
state_2
state_di_luar

In [10]:
if 'abcf' in 'abcde':
  print('state_1')
  print('state_2')
print('state_di_luar')

state_di_luar

In [11]:
if 'foo' in ['foo','bar','baz']:
  print('Outer condition in true')
if 10 > 20 :
  print('Inner Condition 1')
print('between inner condition')
if 10<20:
  print('inner condition 2')
print('end of outer condition')
print('after outer condition')

Outer condition in true
between inner condition
inner condition 2
end of outer condition
after outer condition

In [13]:
x = 20
if x<50:
  print('statement1')
  print('True')
else:
  print('statement2')

statement1
True

In [14]:
harga_buku = 1000
harga_majalah = 2000
uang = 1500
if uang>harga_buku:
  print('beli buku')
else:
  print('uang tidak cukup')

beli buku

In [21]:
harga_buku = 1000
harga_majalah = 2000
uang = 3500
if uang>harga_buku + harga_majalah:
  print('beli keduanya')
elif uang>harga_majalah:
  print('beli majalah')
elif uang>harga_buku:
  print('beli buku')
else:
  print('uang tidak cukup')

beli keduanya

In [22]:
if 5>2: print(1);print(2)

1
2

In [23]:
harga_buku = 1000
harga_majalah = 2000
uang = 3500
if uang>harga_buku + harga_majalah:print('beli keduanya')
elif uang>harga_majalah:print('beli majalah')
elif uang>harga_buku:print('beli buku')
else:print('uang tidak cukup')

beli keduanya

In [30]:
age = 10
print('katregori usia','teen' if age < 21 else 'adult')

katregori usia teen

In [32]:
age=12
if age>10 & age<21:
  print('masuk')
else:
  print('usir')

masuk

In [36]:
age=12
if age>10 | age<21:
  print('masuk')
else:
  print('usir')

usir

In [52]:
n = 5
while n > 0.5:
  n =n-1
  print(n)

4
3
2
1
0

In [61]:
n = 5
while n > 0:
  n =n-1
  if n == 2:
    break
  print(n)
print('stop')

4
3
stop

In [62]:
n = 5
while n > 0:
  n =n-1
  if n == 2:
    continue
  print(n)
print('stop')

4
3
1
0
stop

In [95]:
a = ['foo','bar']
while len(a):
  print(a.pop(0))
  b = ['baz','qux','qex']
  while len(b):
    print('--',b.pop(0))
    c = ['aaa','bbb']
    while len(c):
     print('>',c.pop(0))

foo
-- baz
> aaa
> bbb
-- qux
> aaa
> bbb
-- qex
> aaa
> bbb
bar
-- baz
> aaa
> bbb
-- qux
> aaa
> bbb
-- qex
> aaa
> bbb

In [72]:
a = [1,2,3]
for i in a:
  print(i)

1
2
3

In [75]:
a = [1,2,3]
for i in a:
  print(i*100)

100
200
300

In [94]:
temp = input('masukkan suhu ')
suhu = int(temp[:-1])
satuan = temp[-1]

if satuan == 'C':
  result = suhu + 100
  print('resultnya adalah',result,'derajat')
elif satuan == 'F':
  result = suhu + 200
  print('resultnya adalah',result,'derajat')
else:
  print('masukkan yang benar')

masukkan suhu 9C
resultnya adalah 109 derajat